*{
    margin: 0;
    font-family: "Amatic SC";
}
/* =========================================================header start================================ */
.header{
    background: #777070;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 10px;
}
.header>a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 24px;
}
.header:hover{
    background: black;
}
.header>a:hover{
     background: #9b9494;
     color: black;
}
/* ======================================header end=============================== */
/* =========================================bg image start========================== */
.home_bg_image{
    background-image: url(../image/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
    filter: saturate(0.5);
    color: white;   
    font-size: 50px;
}
.home_bg_image>.bg_img{
    position: relative;
    text-align: center;
    top: 130px;
}
.home_bg_image>.bg_img>h1{
    font-weight: normal;
}
.home_bg_image>.bg_img>#button1{
    background: black;
    color: white;
    padding: 20px 50px;
    font-size: 30px;
    border: none;
}
.home_bg_image>.bg_img>#button1:hover{
    background: #fff;
    color: black;
    border: none;
}
.home_bg_image>#button2{
    background: black;
    color: white;
    bottom: 4%;
    position: absolute; 
    font-size: 25px;
    border: none;
    margin-left: 10px;
}
/* =====================================bg image end======================== */
/* ============================body menu==================== */
.body_menu{
    background: black;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 60px;
}
.body_menu>.MENU>h2{
    font-weight: normal;
}
.body_menu>.table1{
    background: white;
    border-collapse: collapse;
    color: black;
    font-size: 30px;
    position: relative;
    top: 45px;
    width: 700px;
    margin-left: 300px;
}
#table_row{
    background: black;
    color: white;
    width: 800px;
    font-weight: bold;
    text-align: center;
}
.pizza{
    background: red;
}
.salad:hover{
    background: red;
}
.starter:hover{
    background: red;
}
.red{
    background: red;
    border-radius: 3px;
}
.box{
    background: gray;
    border-radius: 3px;
}
/* ==================================About main=================================== */
.about_main{
    background: #8b5f5b;
    position: relative;
    color: white;
    padding: 80px;
}
.about_main>.about{
    text-align: center;
    font-size: 40px;
}
.about_main>.about_para{
    line-height: 50px;
    text-transform: uppercase;
    margin: 0px auto;
    width: 800px;
    font-size: 25px;
}
.image{
    width: 900px;
    height: 500px;
    margin-left: 160px;
}
.down_about{
    margin-top: 10px;
    margin-left: 200px;
}
.paragraph{
    justify-content: space-between;
}
.about_para1{
    margin-left: 200px;
}
.about_para2{
    margin-left: 800px;
}
/* ===============================about end====================== */
/* =================================contant start======================== */
.contant{
    background: #6c7a81;
    color: white;
}
.contant>h1{
    text-align: center;
}
.contant>p{
    font-weight: 500rem;
    text-align: center;
}
.contant>.input1>input{
    display: inline-block;
    height: 50px;
    width: 50%;
    
}
.contant>.input1>#btn5{
    width: 50%;
}

